/* Universal Styles */
* {
    font-family: 'Exo 2';
    font-size: 16px;
    color: #004FF9;
    background-color: #EBC0FF;
}

/* Header Section */
header {
    text-align: center;
    color: #004FF9;
}
h1 {
    font-style: normal;
    font-size: 65px;
    z-index: 100;
    font-family: 'Exo 2';
    font-kerning: auto;
    letter-spacing: normal;
    font-weight: 300;
}
/* Table Section */
table {
    min-width: 300px;
    max-width: 80%;
    margin: 0 auto;
    height: 80%;
}
table, thead, tr, td{
    background-color: #FFF0FF;
    border: 1px solid #004FF9;
}
.code-snippet {
    background-color: #001852;
    color: #ebc0ff;
    font-family: 'Source Code Pro';
    text-align: center;
}
td:first-of-type {
    text-align: center;
}
